.all-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    
}
.all-container h2 {
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    animation: aparecer .5s ease-in-out forwards
}

.todo-container{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.icons-container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.icons-container img {
    width: 170px;
    height: 170px;
    margin: 15px;
    transition: .2s;
    opacity: 0;
    animation: aparecer .7s ;
}

.icons-container img:hover{
    transform: scale(1.1);
}

.explicacion-container {
    margin-left: 40px;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
}

.explicacion {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: aparecer .5s ease-in-out forwards;
    background-color: rgba(45, 42, 71, 0.123); /* Fondo semitransparente */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espacio interior */
    backdrop-filter: blur(20px); /* Desenfoque */
    opacity: 0.8; /* Opacidad */
    overflow: auto;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h3 {
    font-size: 40px;
    font-weight: 500;
}
.title img {
    width: 70px;
}

.explicacion p {
    font-weight: 100;
    width: 70%;
    text-align: justify;
}

.display-none{
    display: none;
}

@keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@media (max-width: 1499px) {
    .icons-container img {
        width: 140px;
        height: 140px;
        }
  }

  @media (max-width: 1274px) {
    .icons-container img {
        width: 120px;
        height: 120px;
        }
  }

  @media (max-width: 600px){
    .all-container{
        display: flex;
        flex-direction: column;
    }

    .todo-container{
        flex-direction: column;
        height: 83vh;
    }


    .todo-container .icons-container{
        width: 100%;
        height: 45%;
        margin: 0;
    }

    .todo-container .icons-container img{
        width: 20%;
        height: 20%;
    }

    .todo-container .explicacion-container {
        justify-content: center;
        width: 100%;
        height: 55%;
        backdrop-filter: blur(0px);
        margin: 0;
        padding: 0;
        overflow: auto;
        
    }

    .todo-container .explicacion-container .explicacion{
        width: 400px;
        padding: 0;
    }

    .todo-container .explicacion-container .explicacion p {
        width: 90%;
    }

    .todo-container .explicacion-container .explicacion .title img {
        height: 50px;
    }


  }
