* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--fontColor);
    box-sizing: border-box;

}


body {
    margin: 0;
    overflow-x: hidden;
}
/* background */
.fondo {
    width: 100vw;
    height: 100vh;
    
    background-image: url('../assets/fondo.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    z-index: -4;
}

.fondo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0.790948275862069) 52%, rgba(0,0,0,0.27586206896551724) 100%, rgba(11,213,255,0) 100%);
    z-index: -2;
}

/* header nav */

header{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span{
    font-size: 32px;
    margin-left: 140px;
}

header nav{
    margin-right: 100px;
}

header nav a {
    text-decoration: none;
    font-weight: 300;
    margin-right: 25px;
    transition: .2s;
}

header nav a:hover {
    color: #5aa7ff;
}


/* div contenido */

.contenido-container{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contenido-container section {
    width: 30%;
    max-width: 40%;
    height: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.contenido-container section h1{
    font-size: 64px;
    flex-shrink: 1;
    opacity: 0;
    animation: aparecer 0.5s ease-in-out forwards;
    
}

.contenido-container section h2{
    font-size: 48px;
    font-weight: 300;
    margin-left: 20px;
    opacity: 0;
    animation: aparecer 0.5s ease-in-out forwards;
}

.contenido-container section p {
    font-weight: 300;
    text-align: justify;
    width: 85%;
    opacity: 0;
    animation: aparecer 0.5s ease-in-out forwards;
}

.contenido-container section div{
    width: 100%;
    display: flex;
    opacity: 0;
    animation: aparecer 0.5s ease-in-out forwards;
}

.contenido-container section div a{
    width: 170px;
    height: 50px;
    background-color: #00418b;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-right: 10px;
    transition: .3s;
}

.contenido-container section div a:hover {
    transform: scale(1.1);
}

.contenido-container aside{
    width: 30%; 
    max-width: 30%;
    flex-grow: 1;
    opacity: 0;
    animation: aparecer 0.5s ease-in-out forwards;
}


.contenido-container aside img{
    width: 100%;
    height: 100%;
}


footer {
    width: 100vw;
    height: 2vh;
    background-color: #0000008e;
    color: var(--fontColor);
    font-size: 10px;
    font-weight: 100;
    text-align: center;

}

/* responsive pantallas pequeñas*/
@media (max-width: 1024px){

    .contenido-container section h1{
        font-size: 48px;
        
    }

    .contenido-container section h2{
        font-size: 32px;
        
    }

    .contenido-container section p{
        font-size: 12px;
        
    }
}


/* animaciones */

@keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


  @media (max-width: 600px){

      
    .contenido-container{
        flex-direction: column-reverse;
    }
        
        .contenido-container section{
        height: 50%;
        width: 100%;
        max-width: 100%;
        align-items: center;
    }

    .contenido-container section div{
        display: flex;
        justify-content: center;
    }

    .contenido-container section p{
        font-size: 15px;
    }

    .contenido-container aside{
        width: 100vw;
        height: 50%;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .contenido-container aside img{
        width: 70%;
    }



/* menu hamburguesa */



  }