.contenido-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
}

.contenido-container h1 {
    display: inline-block;
    font-size: 64px;
    font-weight: 500;
    opacity: 0;
    animation: aparecer 0.5s ease-in-out forwards;
}

.p-container {
    font-size: 20px;
    font-weight: 100;
    opacity: 0;
    animation: aparecer .5s ease-in-out forwards;
}

.contenido-container div {
    display: flex;
}

.proyectos-container {
    display: flex;
    justify-content: flex-start;
}

.tarjeta-proyecto {
    margin-right: 30px;
    width: 400px;
    height: 325px;
    background: #00000094;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: aparecer ease-in-out .5s;
    transition: .2s;
    border-radius: 15px;
}



.tarjeta-proyecto:hover {
    transform: scale(1.03);
    background: #000000;
}

.img-proyecto{
    width: 100%;
    height: 60%;
    border-radius: 10px 10px 0px 0px;
}

.tarjeta-proyecto h2 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    padding: 0 10px;
}

.tarjeta-proyecto p {
    font-size: 11px;
    font-weight: 100;
    margin-top: 2px;
    text-align: justify;
    padding: 0 10px;
}

.btn-repo-demo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-weight: 100;
    flex-grow: 1;
}

.btn-repo-demo a:hover{
    color: aquamarine;
}

.btn-repo-demo a{
    padding: 0 10px;
    text-decoration: none;
    font-size: 14px;

}

.borde-repo {
    border-right: thin solid #fff;
}


.panel-btn{
    display: none;
}




@keyframes aparecer {
    from {
      opacity: 0;
      transform: translateX(10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
@media (max-width: 600px){
    .contenido-container{
        max-width: 100%;
        width: 100%;
        padding: 0;
        display: flex;
        align-items: center;
    }

    .contenido-container p {
        text-align: center;
    }

    .contenido-container .proyectos-container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenido-container .proyectos-container .tarjeta-proyecto{
        width: 95%;
        height: 100%;
    }

    .contenido-container .proyectos-container .tarjeta-proyecto img{
        height: 100%;
    }
    
    .contenido-container .proyectos-container .tarjeta-proyecto p{
        font-size: 16px;
        text-align: justify;
    }

    .contenido-container .proyectos-container .tarjeta-proyecto div a{
        font-size: 24px;
    }

}